<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,900,300italic,400italic" rel="stylesheet" type="text/css">
    <!-- build:css({app,.tmp}) /stylesheets/style.css -->
    <link href="/stylesheets/site.css" rel="stylesheet">
    <!-- endbuild -->

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>
  <body id="{{ page.bodyid }}" class="{{ page.bodyclass }}">
    <header role="banner">
      <h1>
        <a href="/">
          <img src="/images/artahack-logo-heart.jpg" alt="Art-A-Hack" />
          <img src="/images/artahack-logo-text.jpg" alt="Art-A-Hack" />
        </a>
      </h1>
      <nav role="navigation">
        <h2>Navigation</h2>
        <a id="menu-button" href="#">
          <i class="fa fa-bars"></i>
          <i class="fa fa-times"></i>
        </a>
        <ul class="cta">
          <li><a href="/members/">Members</a></li>
          <li><a href="/stories/">Stories</a></li>
          <li><a href="/join/">Join</a></li>
        </ul>
      </nav>
    </header>
    {{ content }}
    <!-- build:js(app) /javascript/script.js -->
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/site.js"></script>
    <!-- endbuild -->
  </body>
</html>