{% if page.bodyid == 'home' %}
  {% assign title = 'Art-A-Hack' %}
{% else %}
  {% capture title %}{{ page.title }}{% endcapture %}
  {% assign title = page.title | append: ' | Art-A-Hack' %}
{% endif %}

{% capture image %}{{ page.image }}{% endcapture %}
{% if image == '' %}
  {% assign image = '/images/og_default.jpg' %}
{% else %}
  {% assign image = page.image %}
{% endif %}

{% capture description %}{{ page.description }}{% endcapture %}
{% if description == '' %}
  {% assign description = 'Art-A-Hack incubates teams from a variety of disciplines including art, technology, hardware and software development, design, immersive environments, music, theater, animation, social justice and interactivity, to collaboratively create something new.' %}
{% else %}
  {% assign description = page.description %}
{% endif %}

{% if page.url contains site.banner-url %}
  {% assign display-banner = false %}
{% else %}
  {% assign display-banner = site.display-banner %}
{% endif %}

{% if display-banner %}
  {% capture bodyclass %}{{ page.bodyclass }} site-banner{% endcapture %}
  {% capture bodyclass %}{{ bodyclass | strip }}{% endcapture %}
{% else %}
  {% capture bodyclass %}{{ page.bodyclass }}{% endcapture %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="{{ description }}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@art_a_hack" />
    <meta name="twitter:creator" content="@art_a_hack" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:description" content="{{ description }}" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <!-- build:css({app,.tmp}) /stylesheets/style.css -->
    <link href="/stylesheets/site.css" rel="stylesheet">
    <link href="/_bower_components/ideal-image-slider/ideal-image-slider.css" rel="stylesheet">
    <link href="/_bower_components/ideal-image-slider/themes/default/default.css" rel="stylesheet">
    <!-- endbuild -->

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>
  <body id="{{ page.bodyid }}" class="{{ bodyclass }}">
    {% if page.bodyid == 'home' %}
    <div class="flex-col">
    {% endif %}
      <header role="banner" class="main top">
        <h1>
          <a href="/">
            <img class="logo" src="/images/artahack-logo-heart.jpg" alt="Art-A-Hack" />
            <img class="text" src="/images/artahack-logo-text.jpg" alt="Art-A-Hack" />
          </a>
        </h1>
        {% if display-banner %}
          <aside class="banner">
            <a href="{{ site.banner-url }}">{{ site.banner-text }}</a>
          </aside>
        {% endif %}
        <nav role="navigation">
          <h2>Navigation</h2>
          <a id="menu-button" href="#">
            <i class="fa fa-bars"></i>
            <i class="fa fa-times"></i>
          </a>
          <ul class="cta">
            <li><a href="/about/" class="about">About</a></li>
            <li><a href="/alumni/" class="alumni">Alumni</a></li>
            <li><a href="/projects/" class="projects">Projects</a></li>
            <li><a href="/blog/" class="blog">Blog</a></li>
          </ul>
        </nav>
      </header>
    {% if page.bodyid == 'home' %}
      <figure id="image-grid" class="bottom">
      </figure>
    </div>
    {% endif %}
    {{ content }}
    <section id="sponsors">
      <header>
        <h1>Sponsors</h1>
      </header>
      <p>We are supported by:</p>
      <ul>
        <li><a href="http://www.thoughtworks.com"><img src="/images/sponsors/thoughtworks.png" alt="ThoughtWorks" /></a></li>
        <li><a href="http://engineering.nyu.edu/"><img src="/images/sponsors/tandon.png" alt="NYU Tandon School of Engineering" /></a></li>
        <li><a href="http://www.microsoft.com"><img src="/images/sponsors/microsoft.png" alt="Microsoft" /></a></li>
        <li><a href="http://www.oreilly.com/"><img src="/images/sponsors/oreilly.png" alt="O'Reilly" /></a></li>
        <li class="vertical"><a href="http://www.meetup.com/volumetric"><img src="/images/sponsors/volumetric.png" alt="The Volumetric Society" /></a></li>
        <li><a href="http://new.livestream.com/"><img src="/images/sponsors/livestream.png" alt="Livestream" /></a></li>
        <li class="small"><a href="http://www.originmagazine.com/"><img src="/images/sponsors/origin.png" alt="Origin Magazine" /></a></li>
        <li class="small"><a href="http://cyland.org/"><img src="/images/sponsors/cyland.png" alt="Cyland Media Art Lab" /></a></li>
        <li class="small"><a href="http://www.citytech.cuny.edu/"><img src="/images/sponsors/city-tech.png" alt="NYC College of Technology, City Tech" /></a></li>
        <li class="large"><a href="https://www.humanimpactsinstitute.org/"><img src="/images/sponsors/human-impacts-institute.png" alt="Human Impacts Institute" /></a></li>
        <li class="small"><a href="https://batterydance.org/"><img src="/images/sponsors/battery-dance.png" alt="Battery Dance" /></a></li>
        <li class="large"><a href="https://www.emotibit.com/"><img src="/images/sponsors/emotibit.png" alt="Emotibit" /></a></li>
        <li class="small"><a href="https://www.elektron.art/"><img src="/images/sponsors/elektron.png" alt="eˉlektron" /></a></li>
        <li class="large"><a href="https://www.state.gov/"><img src="/images/sponsors/state-dept.png" alt="U.S. State Department" /></a></li>
        <li class="large"><a href="https://alumni.state.gov/alumni-news/alumni-thematic-international-exchange-seminars-alumni-ties"><img src="/images/sponsors/alumni-ties.png" alt="Alumni Ties Thematic International Exchange Seminars" /></a></li>
        <li class="large"><a href="https://www.worldlearning.org/"><img src="/images/sponsors/world-learning.png" alt="World Learning" /></a></li>
      </ul>
    </section>

    <!-- build:js(app) /javascript/script.js -->
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/site.js"></script>
    <script src="/javascript/analytics.js"></script>
    <script src="/_bower_components/ideal-image-slider/ideal-image-slider.js"></script>
    <!-- endbuild -->

    <!-- Sliders on pages -->
    {% for script in page.slider_scripts %}
      {{ script }}
    {% endfor %}

    <!-- Sliders on indexes -->
    {% for post in paginator.posts %}
      {% for script in post.slider_scripts %}
        {{ script }}
      {% endfor %}
    {% endfor %}
  </body>
</html>