---
layout: default
---
<div class="flex-row">
  <main class="left">
    <article role="article">
      <header>
        <h1>Project: {{ page.title }}</h1>
        <div class="widgets">
          <ul class="social">
            <li>
              <a href="http://twitter.com/share?text={{ page.title | uri_escape }}&amp;url=http://{{ site.name }}{{ page.url | uri_escape }}&amp;via=art_a_hack"><i class="fa fa-twitter-square"></i></a>
            </li>
            <li>
              <a href="http://www.facebook.com/sharer/sharer.php?title={{ page.title | uri_escape }}&amp;u=http://{{ site.name }}{{ page.url | uri_escape }}"><i class="fa fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="http://www.tumblr.com/share?v=3&amp;t={{ page.title | uri_escape }}&amp;u=http://{{ site.name }}{{ page.url | uri_escape }}"><i class="fa fa-tumblr-square"></i></a>
            </li>
          </ul>
        </div>
      </header>
      <div class="post-content">
        {% include editions/get-edition-name.html %}
        <p class="edition when">Art-A-Hack&trade; {{ edition-name }}</p>
        <div id="members-short">
          <p>Team members:</p>
          <ul class="alumni">
            {% for member in page.members %}
              {% assign alum = site.alumni | where:"name", member.name | first %}
              <li>{{ alum.name }}</li>
            {% endfor %}
          </ul>
        </div>
        {{ content }}
      </div>
      <hr />
    </article>
    <ul id="paging" class="cta">
      <li><a href="/projects/" class="previous">All projects</a></li>
    </ul>
  </main>
  <section id="members" class="right grid-container">
    <ul class="alumni">
      {% for member in page.members %}
        {% assign alum = site.alumni | where:"name", member.name | first %}
        <li>
          {% include alum.html %}
        </li>
      {% endfor %}
    </ul>
  </section>
</div>