#about {
	#image {
		position: relative;

		h1 {
			display: none;
		}

		figure {
			background: linear-gradient(rgba(239, 64, 47, 0.3), rgba(239, 64, 47, 0.3)), url('/images/full-bleed/artahack-800-1600.jpg');
			background-size: 100% auto;
			width: 100%; height: 100%;
			position: absolute;
		}
	}
}

@media (max-width: 1299px) {
	#about {

	}
}

@media (max-width: 1099px) {
	#about {

	}
}

@media (max-width: 899px) {
	#about {

	}
}

@media (max-width: 639px) {

}

@media (max-width: 499px) {

}