#alumni {
	main {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%
	}

	.grid {
		margin-top: 2em;
		text-align: justify;
		position: relative; left: -0.7em;
		width: 100%;

		figure {
			display: inline-block;
			width: 20.5%;
			vertical-align: text-top;
			text-align: center;
			margin: 2.4% 0;
		}

		figcaption {
			h2 {
				margin: 0.4em 0;
			}
		}

		p {
			padding-bottom: 0.9em;
		}

		img {
			border-radius: 50%;
		}

		img, figcaption, p, ul {
			width: 100%;
			display: inline-block;
		}

		ul {
			list-style: none;
			list-style-type: none;
			display: inline-block;

			li {
				display: inline-block;
				margin: 0 0.3em;

				i {
					font-size: 2.1em;
				}
			}
		}
	}
}

@media (max-width: 1299px) {
	#alumni {
		.grid {
			text-align: center;
			left: -4em;
			width: 110%;

			figure {
				width: 26%;
				margin: 2.4% 2.5% 2.4% 3.5%;
			}
		}
	}
}

@media (max-width: 1099px) {
	#alumni {
		.grid {
			left: -3em;
		}
	}
}

@media (max-width: 899px) {
	#alumni {
		.grid {
			left: -3.2em;

			figure {
				width: 40%;
				margin: 2.4% 2% 6% 7%;
			}

			figcaption {
				margin-top: 1em;
			}

			p {
				margin: 0.5em 0;
			}
		}
	}
}

@media (max-width: 639px) {
	#alumni {
		.grid {
			left: -1.6em;

			figure {
				width: 70%;
				margin: 0 auto 2.8em auto;
			}

			h2 {
				font-size: 2em;
			}

			p {
				font-size: 1.4em;
			}
		}
	}
}