.post {
	.flex-row .left {
		width: 62%;
	}

	main {
		article {
			width: 65%;

			header {
				.widgets {
					position: absolute; right: 84%;
					margin-top: 1.18em;

					ul.social {
						list-style-type: none;
						text-align: right;
						padding-top: 2.6em;
					}

					ul.social.simple {
						padding-top: 0.4em;
					}

					li {
						margin-bottom: 2.8em;
					}

					a:link i, a:visited i {
						color: #c6c6c6;
					}

					a:hover i, a:active i {
						color: #222222;
					}

					i {
						position: relative; top: -6%;
						font-size: 2.2em;
					}
				}
			}

			.post-content {
				blockquote {
					padding: 1em 0;
					margin: 0 2em;
					font-style: italic;
				}

				li {
					margin: 0 0 0 1em;
					padding-left: 0.4em;
				}

				ul, ol {
					margin: 0.5em 0.2em;
				}

				ol.team-list {
					padding-bottom: 0;

					li em {
						font-weight: bold;

						.teaser {
							color: #808080;
						}
					}

					li ul {
						margin-top: 0;
						padding-top: 0.5em;
					}
				}

				figure {
					text-align: center;
					margin-bottom: 0.3em;
					margin-top: 1.1em;

					img, iframe {
						width: 98%;
						border: 4px solid #e8e8e8;
					}

					figcaption {
						margin-top: 0.1em;
						font-weight: bold;
						text-align: center;
					}
				}

				.iis-slider {
					border: 4px solid #e8e8e8;
					box-sizing: border-box;
				}
			}

			.read-more {
				text-transform: uppercase;
			}
		}

		article, #paging {
			margin-left: 28%;
		}

		#paging a.previous::before {
			content: '<';
			position: relative;
			left: -0.3em;
			top: -0.07em;
		}

		#paging a.next::after {
			content: '>';
			position: relative;
			left: 0.3em;
			top: -0.07em;
		}
	}
}

@media (max-width: 1299px) {
	.post {
		.flex-row .left {
			width: 54%;
		}

		main {
			article {
				width: 90%;
				margin-left: 0;

				header {
					position: relative;

					.widgets {
						position: absolute; left: 0; right: inherit;
						text-align: left;
						margin-top: 0;

						ul.social {
							text-align: left;
							padding-top: 0.4em;
						}

						li {
							margin: 0 1em 0 0;
							display: inline-block;
						}
					}
				}

				.post-content {
					margin-top: 7em;
				}
			}

			#paging {
				margin-left: 0;
				padding-left: 0;
			}
		}
	}

	#simple main article .post-content {
		margin-top: 5em;
	}
}

@media (max-width: 1099px) {
	.post {
		.flex-row .left {
			width: 52%;
		}

		main {
			article {
				width: 102%;

				header .widgets i {
					font-size: 2em;
				}

				.post-content {
					figure {
						img, iframe {
							width: 99%;
							border: 0;
						}
					}

					.iis-slider {
						border: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 899px) {
	.post {
		.flex-row {
			.left {
				width: 90%;
				padding-left: 5%;
				padding-right: 5%;
			}

			.right {
				display: none;
			}
		}

		main {
			article {
				width: 36em;

				header {
					.widgets i {
						font-size: 1.9em;
					}
				}

				.post-content {
					margin-top: 6em;
				}
			}

			.video {
				width: 100%;
			}
		}
	}
}

@media (max-width: 639px) {
	.post {
		main {
			article {
				width: 100%;

				header .when {
					width: inherit;
					position: relative; left: 0;
				}
			}

			article, #paging {
				margin-left: 0;
			}
		}
	}
}