<footer class="site-footer">

    <h2 class="footer-heading">With thanks to our sponsors:</h2>

    <div>
        <a href="http://www.meetup.com/volumetric"><img src="/assets/volumetric.png" alt="The Volumetric Society" height="92px" /></a>
        <a href="http://www.thoughtworks.com"><img src="/assets/thoughtworks.png" alt="ThoughtWorks" height="92px" /></a>
    </div>

    <div class="description">
      <p class="text">{{ site.description }}</p>
    </div>

    <script>
      if(document.domain == "0.0.0.0"){
        //alert(document.domain);
      }else{
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51447404-1', 'art-a-hack.github.io');
        ga('send', 'pageview');
      }
    </script>
</footer>
