body {
	#sponsors {
		width: 750px;
		margin: 0 auto;
		text-align: center;

		h1 {
			display: none;
		}

		ul {
			margin-bottom: 5em;

			li {
				display: inline;
				list-style-type: none;
				margin: 0 1.1em;
				line-height: 4em;

				img {
					height: 92px;
				}
			}
		}
	}
}

@media (max-width: 799px) {
	body {
		#sponsors {
			width: 100%;

			ul li img {
				height: 81px;
			}
		}
	}
}

@media (max-width: 639px) {
	body {
		#sponsors {
			width: 100%;

			ul li {
				display: block;
				line-height: 2em;
			}
		}
	}
}