.grid-page {
	main {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	h1, h2 {
		text-align: center;
	}

	h2 {
		font-size: 1.8em;
		margin: 2.2em 0 1.7em 0;
		font-weight: bold;
		color: #afaeae;
	}
}

.grid-container {
	.grid {
		margin-top: 2em;
		text-align: center;
		position: relative; left: -0.5em;
		width: 100%;
	}

	figure {
		display: inline-block;
		width: 17.5%;
		vertical-align: text-top;
		text-align: center;
		margin: 1.5% 3.57% 3% 3.57%;
	}

	figcaption {
		padding: 0;
		margin: 0.5rem 0 0 0;
		font-size: 1.4rem;
		font-weight: 400;
	}

	a:link figcaption, a:visited figcaption {
		text-decoration: underline;
	}

	a:hover figcaption, a:active figcaption {
		text-decoration: none;
	}

	p {
		font-size: 1.15rem;
		padding: 0.6rem 0 0.3rem 0;
	}

	img {
		border-radius: 5rem;
	}

	img, figcaption, p, ul {
		width: 100%;
		display: inline-block;
	}

	ul {
		list-style: none;
		list-style-type: none;
		display: inline-block;
		padding: 0.5rem 0;

		li {
			display: inline-block;
			margin: 0 0.3rem;

			i {
				font-size: 1.6rem;
			}
		}
	}
}

@media (max-width: 1299px) {
	.grid-container .grid {
		img {
			border-radius: 4em;
		}
	}
}

@media (max-width: 1099px) {
	.grid-page{
		h2 {
			font-size: 1.6em;
		}
	}

	.grid-container .grid {
		figure {
			width: 18.3%;
			margin: 1.5% 3.15% 5% 3.15%;
		}
	}
}

@media (max-width: 1019px) {
	.grid-container .grid {
		figure {
			width: 23%;
			margin: 1.5% 4.95% 5% 4.95%;
		}
	}
}

@media (max-width: 789px) {
	.grid-container .grid {
		text-align: center;

		figure {
			width: 36%;
			margin: 1.5% 5% 5% 5%;
		}
	}
}

@media (max-width: 559px) {
	.grid-container .grid {
		figure {
			width: 60%;
			margin: 0 auto 4.3rem auto;
		}
	}
}

@media (max-width: 509px) {
	.grid-container .grid {
		figure {
			width: 70%;
		}
	}
}