body {
	header.main {
		height: 143px;
		position: relative;

		>h1, >nav {
			margin: 8px;
		}

		h1 {
			position: absolute; bottom: 0; left: 8px;

			img.logo {
				height: 80px;
			}

			img.text {
				position: relative; bottom: -5px;
				height: 60px;
			}
		}

		nav {
			position: absolute; bottom: 0; right: 0;

			#menu-button {
				display: none;
			}

			h2 {
				display: none;
			}

			ul {
				padding: 0;
				line-height: inherit;
				font-size: inherit;
				letter-spacing: inherit;

				li {
					margin-left: 1em;
				}
			}
		}
	}
}

body.site-banner {
	header.main {
		margin-bottom: 54px;

		.banner {
			width: 100%;
			text-align: center;
			position: absolute;
			bottom: -54px;

			a {
				height: 28px;
				padding: 13px;
				background-color: #ef402f;
				color: #ffffff;
				display: block;
				z-index: 1000;
				position: relative;
				text-decoration: underline;
				font-weight: bold;
			}

			a:link, a:visited {
				text-decoration: underline;
			}

			a:hover, a:active {
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 1299px) {
	body {
		header.main {
			height: 133px;

			h1 {
				img.logo {
					height: 73px;
				}

				img.text {
					height: 57px;
				}
			}

			nav ul.cta li {
				margin-left: 0.5em;

				a {
					font-size: 1.6em;
				}
			}
		}
	}
}

@media (max-width: 1099px) {
	body {
		header.main {
			height: 120px;

			h1 {
				bottom: 2px;

				img.logo {
					height: 60px;
				}

				img.text {
					height: 48px;
				}
			}

			nav ul.cta li {
				margin-left: 0.3em;

				a {
					font-size: 1.5em;
				}
			}
		}
	}
}

@media (max-width: 964px) {
	body {
		header.main {
			height: 115px;

			nav {
				#menu-button {
					display: block;

					.fa-bars {
						display: block;
					}

					.fa-times {
						display: none;
					}
				}

				ul.cta {
					display: none;
				}
			}

			nav.popout {
				#menu-button {
					.fa-bars {
						display: none;
					}

					.fa-times {
						display: block;
					}
				}

				ul.cta {
					display: block;
					position: fixed; top: 0; left: 0; bottom: 0; right: 0;
					width: 100%; height: 100%;
					text-align: center;
					background-color: rgba(68, 68, 68, 0.96);
					padding-top: 7%;
					z-index: 1;

					li {
						display: block;
						padding-top: 3.8em;
					}

					a {
						font-size: 2em;
						background-color: rgba(0, 0, 0, 0) !important;
						color: #ef402f;
					}
				}
			}
		}
	}
}

@media (max-width: 499px) {
	body {
		header.main {
			height: 88px;

			h1 a {
				img.logo {
					height: 44px;
				}

				img.text {
					height: 32px;
					bottom: -3px;
				}
			}
		}
	}
}

@media (max-width: 339px) {
	body {
		header.main {
			height: 55px;

			h1 {
				margin-left: 0;

				a {
					img.text {
						height: 25px;
					}

					img.logo {
						display: none;
					}
				}
			}
		}
	}
}