---
title     : Projects
bodyid    : projects
bodyclass : content grid-page
description : Projects from Art-A-Hack, a program which incubates teams from a variety of disciplines including art, technology, hardware and software development, design, immersive environments, music, theater, animation, social justice and interactivity, to collaboratively create something new.
---
<main>
	<article role="article" class="grid-container">
		{% include editions/get-editions.html %}

		{% for edition in editions %}
			{% if edition != '' %}
				{% include editions/get-edition-name.html %}

				<h1>Art-A-Hack&#8482; {{ edition-name }}</h1>
				<div class="grid">
					{% for project in site.projects %}
						{% capture project_edition %}{{ project.edition }}{% endcapture %}
						{% if project_edition == edition %}
							<figure>
								<a href="{{ project.url }}">
									<img src="/images/projects/{{ edition }}/{{ project.projectid }}/{{ project.projectid }}.jpg" />
									<figcaption>
										<h2>{{ project.title }}</h2>
									</figcaption>
								</a>
								<p>{{ project.teaser }}</p>
							</figure>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}

		<h1>Art-A-Hack&#8482; 2014</h1>
		<p class="center">Our inaugral Art-A-Hack&#8482; in 2014 is <a href="/summer-2014/report/">documented in this project report</a>.
	</article>
</main>