---
title     : Alumni
bodyid    : alumni
bodyclass : grid-page
description : Alumni of Art-A-Hack, a program which incubates teams from a variety of disciplines including art, technology, hardware and software development, design, immersive environments, music, theater, animation, social justice and interactivity, to collaboratively create something new.
---
<main>
	<article role="article" class="grid-container">
		{% include editions/get-editions.html %}

		{% for edition in editions %}
			{% if edition != '' %}
				{% include editions/get-edition-name.html %}

				<h1>Art-A-Hack&#8482; {{ edition-name }}</h1>
				<div class="grid alumni">
					{% assign alumni_for_edition = site.alumni | where: 'edition', edition | sort: 'lastname' %}
					{% for alum in alumni_for_edition %}
						{% include alum.html %}
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</article>
</main>